.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: #333;
    color: white;
    width: 100%;
    padding: 1rem 2rem;
    position: fixed; /* Fix the navbar to the top */
    top: 0;           /* Position it at the top */     
    z-index: 1000;    /* Make sure it stays above other content */
  }
  
  /* Navbar Links */
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
   
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }